# .clang-format configuration

BasedOnStyle: llvm 
IndentWidth: 4
TabWidth: 4
UseTab: Always
ColumnLimit: 130

AlignConsecutiveAssignments:  true
AlignConsecutiveDeclarations: true
AlignAfterOpenBracket:     Align
AlignTrailingComments:     true
AlignConsecutiveMacros:    true
AlignConsecutiveBitFields: true

SpacesBeforeTrailingComments: 1
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBraces:  Attach 
SpaceBeforeParens:  Never 
PointerAlignment:   Left
ReferenceAlignment: Left

BraceWrapping:
  AfterFunction: true
  AfterControlStatement: true

# Why is this not default? it breaks gl_context and includes glu.h before windows.h
SortIncludes: false

AlwaysBreakAfterReturnType: None



